/* components/ChatBody.module.css */

.chatBody {
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  overflow-y: auto;
  max-height: 100%;
  background-color: var(--bg-chatbody);
  backdrop-filter: blur(5px);
}

.chatContainer {
  display: flex;
  flex-direction: column;
  max-height: 100%;

}

.spacer {
  height: var(--n0);
}

.chatLink {
  border-top: var(--border-chat-link);
}

@media screen and (max-width: 479px) {




}