/* ChatMessage.module.css */

.chatMessage {
  width: 90%;
  max-width: 720px;
  font-weight: 500;
  font-size: var(--fs-15); 
  flex: 1;
  background-color: var(--1);
  border-radius: 12px 0px 12px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px 16px;
}

.chatMessage.userMessage {
  color: var(--7);
  background-color: var(--1);
  margin-bottom: 10px;
  padding: 4px 16px;
}

.messageWrapper {
  padding: 2vw 5vh 2vw 5vh;
  display: flex;
  flex: start;
  justify-content: center;
  gap: 8px;
}

.userWrapper {
  padding: 2vw 5vh 2vw 5vh;
  display: flex;
  flex: start;
  justify-content: center;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  gap: 8px;
}

.avatar {
  width: 40px; /* Adjust size as needed */
  height: 40px;
  border-radius: 50%;
  margin-top: 12px;
  border: 2px solid #fff;
}

.imagewrap {
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: var(--br-8); /* Using border radius variable */
  overflow: hidden;
  max-width: 100%;
}

.image {
  width: 100%;
  border-radius: var(--br-8); /* Using border radius variable */
}

.p{
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: var(--fs-15);
}

.link {
  font-size: var(--fs-14); /* Using font size variable */
}

.chatLink {
  border-top: 1px solid var(--2);
  padding-top: 6px;
  margin-top: 12px;
  display: flex;
  text-decoration: none;
  font-family: var(--ff-serif); /* Using font family variable */
  font-weight: var(--fw-600); /* Using font weight variable */
}

.linkIcon {
  width: 14px;
  margin-top: 0px;
  margin-right: 4px;
  opacity: 67%;
}

.copyButton {
  padding: 0px;
  margin-right: 12px;
  background-color: transparent;
  border-width: 0px;
  display: flex;
  align-items: center;
  font-size: 14pt;
  color: var(--6);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.copyButton:hover {
  color: var(--7);
}

.copyIcon {
  margin-top: -1px;
  width: 12px;
  margin-right: 4px;
  opacity: 67%;
}

.codeHeader{
  position: relative;
  display: flex;
  justify-content: space-between ;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.codeLanguageHeader {

  border: 1px solid #ddd;
  padding: 4px 12px;
  color: #777; 
  border-radius: var(--br-4);
  font-weight: 600;
  font-family: var(--ff-serif);
  font-size: var(--fs-14);

}


.copyCodeButton {
  font-family: var(--ff-serif);
  border: 1px solid #ddd;
  padding: 4px 12px; 
  font-weight: 600;
  color: #777; 
  border-radius: var(--br-4);
  cursor: pointer;
  font-size: var(--fs-14);
  transition: all 0.2s ease-in-out;

}

.copyCodeButton:hover {
background-color: #222;
color: #fff;
}

@media screen and (max-width: 479px) {
  .chatMessage {
    
    flex: 1;
    max-width: 80% ;
    font-size: var(--fs-14);
    line-height: var(--f-lh);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border-radius: 0px 8px 0px 8px;

  }

  .chatMessage.userMessage {
    color: var(--7); 
    background-color: var(--1); 
    margin-left: auto;
    margin-bottom: 10px;
    padding: 12px;

  }

  .messageWrapper {
    padding: 16px;
    border-bottom: 1px solid var(--3);
  }
  .userWrapper {
    padding: 16px;
    border-bottom: 1px solid var(--3);
    gap: 8px;
  }
  .avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .chatLink {
    padding-top: 3px;
    margin-top: 6px;
    display: flex;
    text-decoration: none;
    font-family: var(--ff-serif); 
    font-weight: var(--fw-600);
  }
}