/* ChatMessage.module.css */

.chatMessage {
  width: var(--p9); /* 90% */
  max-width: var(--n720); /* 720px */
  font-weight: var(--fw-400); /* Treat 500 as 400 */
  font-size: var(--n15); /* 15px */
  flex: 1;
  position:relative;
  color: var(--f-assistant);
  background-color: var(--bg-chat); /* Background for chat message */
  border-radius: var(--n16) 0 var(--n16) 0; /* 12px 0 12px 0 */
  margin-top: var(--n10); /* 10px */
  margin-bottom: var(--n10); /* 10px */
  padding: var(--n12) var(--n24); /* 12px 16px */
  border: var(--border-s);
  backdrop-filter: var(--bg-blur);
}

.chatMessage.userMessage {
  background-color: var(--bg-user-chat); /* Background for user message */
  margin-bottom: var(--n10); /* 10px */
  padding: var(--n12) var(--n24); /* 12px 16px */
  color: var(--f-user); /* Font color for user message */
}

.messageWrapper, .userWrapper {
  padding: 2vw 2vh;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: var(--n8); /* 8px */
}

.userWrapper {
  background-color: var(--bg-user-wrapper); /* Background for user wrapper */
  border-top: var(--border-chat-link);
  border-bottom: var(--border-chat-link);
}

.avatar {
  width: var(--n32); /* 40px */
  height: var(--n32); /* 40px */
  border-radius: 50%;
  margin-bottom: var(--n8); /* 12px */
  border: 2px solid var(--cw1); /* 2px solid white */
}

.imagewrap, .image {
  padding-top: var(--n12); /* 12px */
  padding-bottom: var(--n12); /* 12px */
  border-radius: var(--br-8); /* 8px */
  overflow: hidden;
  max-width: 100%;
}

.p, .link, .chatLink {
  font-size: var(--n14); /* 14px */
  text-decoration: none;
  font-family: var(--ff-serif);
  font-weight: var(--fw-600);
}

.chatLink {
  border-top: var(--border-chat-link);
  padding-top: var(--n12); /* 6px */
  margin-top: var(--n12); /* 12px */
  display: flex;
}

.linkIcon, .copyIcon {
  width: var(--n14); /* 14px */
  margin-top: -4px; /* 0px */
  margin-right: var(--n4); /* 4px */
  filter: invert();
}

.copyButton {
  padding: var(--n0); /* 0px */
  margin-right: var(--n16); /* 12px */
  background-color: transparent;
  border-width: var(--n0); /* 0px */
  display: flex;
  align-items: center;
  font-size: var(--n14);
  color: var(--cw10); /* Black 60% opacity */
  transition: opacity var(--dur-03) ease-in-out;
  cursor: pointer;
  opacity: var(--p6); /* 67% */

}

.copyButton:hover {
  opacity: var(--p100); /* 67% */

}

.codeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-s) ;
  padding: var(--n8);
  background-color: var(--bg-color);
  position: absolute;
  border-radius: 4px 4px 0px 0px;
  top: 0;
  left: 0;
  right: 0;

}



 .copyCodeButton, .codeLanguageHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--n2) var(--n8); /* 4px 12px */
  border: var(--border-s);
  border-radius: var(--n4); /* 4px */
  font-weight: var(--fw-600);
  font-family: var(--ff-serif);
  font-size: var(--n14); /* 14px */
  color: var(--cw5); /* Black 70% opacity */
}

.codeLanguageHeader {
  color: rgb(189, 255, 68);
  border: 0px;
}

.copyCodeButton:hover {
  background-color: var(--bg-b-hover); /* Black 100% opacity */
  color: var(--cw10); /* White 100% opacity */
}

@media screen and (max-width: 479px) {
  .chatMessage {
    max-width: 80%;
    font-size: var(--n14); /* 14px */
    margin: var(--n10) var(--n0); /* 10px 0 */
    padding: var(--n6) var(--n12); /* 12px */
    border-radius: 0 var(--n8) 0 var(--n8); /* 0 8px 0 8px */
  }

  .chatMessage.userMessage {
    color: var(--f-user);
    background-color: var(--cw1); /* White 10% opacity */
    padding: var(--n6) var(--n12); /* 12px */

  }

  .messageWrapper, .userWrapper {
    border-bottom: var(--border-chat-link);
    padding: 24px 0px;
  }

  .avatar {
    width: var(--n24); /* 24px */
    height: var(--n24); /* 24px */
  }

  .chatLink {
    padding-top: var(--n3); /* 3px */
    margin-top: var(--n6); /* 6px */
  }
}
