/* ChatMessage.module.css */

.chatMessage {
  width: 100%;
  max-width: 1024px;
  font-weight: 500;
  font-size: var(--fs-16); /* Using font size variable */
  flex: 1;
  line-height: var(--f-lh); /* Using line height variable */
  background-color: var(--1);
  border-radius: var(--br-8); /* Using border radius variable */
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
}

.chatMessage.userMessage {
  color: var(--7); /* Using color variable */
  background-color: var(--1); /* Using color variable */
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 12px 12px 4px 12px;
}

/* New classes for the message wrapper and avatar */
.messageWrapper {
  padding: 2vw 5vh 2vw 5vh;
  display: flex;
  align-items: start;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  gap: 8px;
}

.userWrapper {
  padding: 2vw 5vh 2vw 5vh;
  display: flex;
  align-items: start;
  border-bottom: 1px solid #ddd;
  gap: 8px;
}

.avatar {
  width: 32px; /* Adjust size as needed */
  height: 32px;
  border-radius: 50%;
  margin-top: 12px;
  border: 2px solid #fff;
}

.imagewrap {
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: var(--br-8); /* Using border radius variable */
  overflow: hidden;
}

.image {
  border-radius: var(--br-8); /* Using border radius variable */
}



.chatMessage.assistantMessage,
.chatMessage.introMessage,
.chatMessage.loadingMessage {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: auto;
}

.link {
  font-size: var(--fs-14); /* Using font size variable */
}

.chatLink {
  border-top: 1px solid var(--2);
  padding-top: 6px;
  margin-top: 12px;
  display: flex;
  text-decoration: none;
  font-family: var(--ff-serif); /* Using font family variable */
  font-weight: var(--fw-600); /* Using font weight variable */
}

.linkIcon {
  width: 14px;
  margin-top: 0px;
  margin-right: 4px;
  opacity: 67%;
}

.copyButton {
  padding: 0px;
  margin-right: 12px;
  background-color: transparent;
  border-width: 0px;
  display: flex;
  cursor: pointer;
  font-size: 14pt;
  color: var(--5);
}

.copyIcon {
  margin-top: -1px;
  width: 12px;
  margin-right: 4px;
  opacity: 67%;
}

@media screen and (max-width: 479px) {
  .chatMessage {
    max-width: 90%;
    flex: 1;
    width: 90%;
    font-size: var(--fs-14); /* Using font size variable */
    line-height: var(--f-lh); /* Using line height variable */
    border-radius: var(--br-8); /* Using border radius variable */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px;
  }

  .chatMessage.userMessage {
    color: var(--7); /* Using color variable */
    background-color: var(--1); /* Using color variable */
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: auto;
    margin-bottom: 10px;
    padding: 12px 12px 4px 12px;
  }

  .messageWrapper {
    padding: 16px;
    display: flex;
    align-items: start;
    border-bottom: 1px solid var(--3);
  }
  .userWrapper {
    padding: 16px;
    display: flex;
    align-items: start;
    border-bottom: 1px solid var(--3);
    gap: 8px;
  }
  .avatar {
    width: 24px; /* Adjust size as needed */
    height: 24px;
    border-radius: 50%;
    margin-top: 12px;
  }

  .chatLink {
    padding-top: 3px;
    margin-top: 6px;
    display: flex;
    text-decoration: none;
    font-family: var(--ff-serif); /* Using font family variable */
    font-weight: var(--fw-600); /* Using font weight variable */
  }
}