.chatFooter {
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  padding: 10px 5vw 20px;
  display: flex;
  box-shadow: 0 -1px 3px rgba(255, 255, 255, .5);
  flex-shrink: 0; 
  flex-wrap: wrap;
  z-index: 10;
}

.inputForm {
  border-radius: 4px;
  display: flex;
  width: 100%;
  flex: 1;
}

.inputField {
  min-height: 46px;
  font-size: 16px;
  box-shadow: none;
  color: #555;
  font-weight: 500;
  background-color: #fcfcfc;
  border: 2px solid #dadada;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: 8px;
  flex: 1;
  max-height: calc(6 * 24px);
  overflow-y: auto;
  resize: none;
  outline: none;
  -webkit-appearance: none;
}

.inputField:active,
.inputField:focus,
.inputField:focus-visible {
  border-color: #37C078;
  box-shadow: none;
  outline: none;
}

.inputField::placeholder {
  color: #979797;
}

.submit {
  display: none;
}

.moneyButton {
  display: inline-block;
  width: 180px; /* Added px to make the value valid */
  margin-left: 20px;
  flex: none;
}

.actionButton {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.actionButton:hover {
  background-color: #19884d;
}
.mbWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.resetButtonMobile,
.logoutButtonMobile {
  background-color: #37C078;
  display: block;
}

.resetButtonMobile {
  background-image: url("https://uploads-ssl.webflow.com/646064abf2ae787ad9c35019/6542ca23c1e69724e8d21629_trash.svg");
}

.logoutButtonMobile {
  background-image: url("https://uploads-ssl.webflow.com/646064abf2ae787ad9c35019/6542ca23904979b18db8431f_logout.svg");
}

@media screen and (max-width: 479px) {
  .resetButtonMobile,
  .logoutButtonMobile {
    display: block;
  }

  .actionButton {
    width: 40px;
    height: 40px;
    border-radius: 22px;
    background-size: 32px;
  }
  
  .chatFooter {
    min-height: 120px;
    padding: 5px 3vw 30px;
    flex-wrap: wrap;
  }

  .moneyButton {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .inputForm {
    min-height: 100px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    min-width: 90vw;
    justify-content: center;
    align-items: center;
    flex: none;
  }

  .inputField {
    min-height: 46px;
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 0;
    max-width: 90vw;
    min-width: 90vw;
    flex: none;
  }
}
