.chatMessage {
    font-family: 'Open Sans';
    max-width: 70%;
    font-weight: 500;
    
    font-size: 15pt;
    line-height: 18pt;
    background-color: #fcfcfc;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, .5), 1px 1px 3px rgba(0, 0, 0, .1);
}

.chatMessage.userMessage {
    color: #fcfcfc;
    background-color: #37C078;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: auto;
}

.chatMessage.assistantMessage {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: auto;
}

.chatMessage.introMessage {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: auto;
}

.chatMessage.loadingMessage {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: auto;
}
 
  .link {
    font-size: 14;
  }

  .chatLink {
    border-top: 1px solid #ddd;
    padding-top: 6px;
    margin-top: 6px;
    display: flex;
    text-decoration: none;
    align-items: center;
    font-family: 'Courier New';
    font-weight: 600;
    
    
  }

  .linkIcon {
    width: 14px;
    margin-top: 0px;
    margin-right: 4px;
    opacity: 67%;
  }

  .copyButton {
    padding: 0px;
    margin-right: 12px;
    background-color: transparent;
    border-width: 0px;
    display: flex;
    cursor: pointer;
    font-size: 14pt;
    color: gray;
  }

  .copyIcon {
    margin-top: -1px;
    width: 14px;
    margin-right: 4px;
    opacity: 67%;
  }

  @media screen and (max-width: 479px) {

    .chatMessage {
      max-width: 90%;
      font-weight: 500;
      font-size: 15pt;
      line-height: 18pt;
      background-color: #fcfcfc;
      border-radius: 8px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px;
      box-shadow: -1px -1px 3px rgba(255, 255, 255, .5), 1px 1px 3px rgba(0, 0, 0, .1);
  }

  .chatLink {
    border-top: 1px solid #ddd;
    padding-top: 3px;
    margin-top: 3px;
    display: flex;
    text-decoration: none;
    align-items: center;
    font-family: 'Courier New';
    font-weight: 600;
    
    
  }

  }