.chatInput {
    flex: 1;
    margin-bottom: 0;
}

.inputForm {
    border-radius: 8px;
    display: flex;
    width: 100%;
}

.inputField {
    height: 46px;
    box-shadow: none;
    color: #555;
    font-weight: 600;
    font-size: 16pt;
    background-color: #fcfcfc;
    border: 2px solid #4772f6;
    border-radius: 30px;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    width: 100%;
}

.inputField:active,
.inputField:focus {
    border-style: solid;
    border-color: #4772f6;
}

.inputField:focus-visible {
    border-color: #4772f6;
}

.inputField::-ms-input-placeholder {
    color: #555;
}

.inputField::placeholder {
    color: #555;
}
.submit {
    color: #ffffff;
    padding: 0 20px;
    height: 50px;
    height: 50px;
    font-weight: 600;
    border-radius: 25px;
    margin-left: 20px;
    background-color: #4772f6;
    border-color: #4772f6;
    background-image: url('../images/send.svg');
    background-position: 43%;
    background-repeat: no-repeat;
    background-size: 20px;
    border-width: 1px;
    font-size: 16px;
    flex: none;
    cursor: pointer;
  }
  

  @media screen and (max-width: 479px) {

    .inputField {
        height: 36px;
        box-shadow: none;
        color: #555;
        font-weight: 600;
        font-size: 16pt;
        background-color: #fcfcfc;
        border: 2px solid #4772f6;
        border-radius: 8px;
        margin-bottom: 0;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 16px;
        width: 100%;
    }

    .submit {
        color: #ffffff;
        padding: 0 16px;
        height: 50px;
        width: 50px;
        font-weight: 600;
        border-radius: 25px;
        margin-left: 10px;
        background-color: #4772f6;
        border-color: #4772f6;
        border-width: 1px;
        font-size: 16px;
        cursor: pointer;
      }
    
    .inputField:active,
    .inputField:focus {
        border-style: solid;
        border-color: #4772f6;
    }
    
    .inputField:focus-visible {
        border-color: #4772f6;
    }
    
    .inputField::-ms-input-placeholder {
        color: #555;
    }
    
    .inputField::placeholder {
        color: #555;
    }


  }