.chatBody {
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    padding: 5vw;
    display: flex;
    overflow: auto;
    max-height: 100%;
}
.chatContainer {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    max-width: 640;
    margin-right: auto;
    margin-left: auto;
}
.spacer {
    height: 50px;
    flex: none;
    justify-content: flex-end;
}

.chatLink {
    border-top: #ddd;
    border-top-width: 1px;
    border-top-style: solid;
  }