/* components/Header.module.css */

.chatHeader {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  flex: none;
  position: relative;
}

.resetButton {
  width: 40px;
  height: 40px;
  border-radius: 22px;
  background-color: #37C078;
  background-image: url("https://uploads-ssl.webflow.com/646064abf2ae787ad9c35019/6542ca23c1e69724e8d21629_trash.svg");
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 5vh;
  right: 5vw;
  margin-top: -22px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.resetButton:hover {
  background-color: #19884d;
}

.loginButton {
  height: 44px;
  border-radius: 22px;
  position: absolute;
  top: 5vh;
  left: 5vw;
  margin-top: -22px;
  cursor: pointer;
}

.logo {
  height: 44px;
  margin-top: 5px;
}

.loginContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}

.disconnectButton {
  border-radius: 12px;
  padding: 8px;
  font-weight: 600;
  display: none;
}

.loginContainer:hover .disconnectButton {
  display: inline-block;
}

@media screen and (max-width: 479px) {
  .resetButton, .loginButton {
    display: none;
  }
}
