/* components/Header.module.css */
.chatHeader {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  }
  
  .heading {
    font-family: IBM Plex Sans, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #555;
  }
  

  .resetButton {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #4772f6;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/VisualEditor_-_Icon_-_Close_-_white.svg/2048px-VisualEditor_-_Icon_-_Close_-_white.svg.png");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 5vh;
    right: 5vw;
    margin-top: -20px;
  }
  