/* components/Header.module.css */

.chatHeader {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: none;
  position: relative;
  flex-shrink: 0;
  border-bottom: var(--bw-2) solid var(--3);
}

.logo {
  height: 44px;
  margin-top: 5px;
  filter: brightness(0%);
  opacity: 67%;
}