@tailwind base;
@tailwind components;
@tailwind utilities;

.chatFooter {
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    box-shadow: 0 -1px 3px rgba(255, 255, 255, .5);
  }
  
  .chatMessage {
    max-width: 70%;
    background-color: #fcfcfc;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, .5), 1px 1px 3px rgba(0, 0, 0, .1);
}

.chatMessage.userMessage {
    color: #fcfcfc;
    background-color: #20E875;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: auto;
}

.chatMessage.assistantMessage {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: auto;
}

.chatMessage.assistantMessage.loading {
    color: #ddd;
}

.chatMessage.assistantMessage.error {
    color: #f00;
}


.viewport {
  color: #555;
  background-color: #f1f1f1;
  flex-direction: column;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


  .paragraph {
    font-size: 16pt;
  }