/* globals.css */

/* Primary Variables */
:root {
  /* Color Variables */
  --0: transparent;
  --1: #fff;
  --2: #eee;
  --3: #ddd;
  --4: #ccc;
  --5: #bbb;
  --6: #777;
  --7: #222;
  
  /* Font Variables */
  --base-font-size: 16px; /* You can adjust the value as needed */
  --ff-sans: 'Poppins', sans-serif;
  --ff-serif: 'Courier New', Courier, monospace;
  --f-i: italic;
  --f-b: bold;
  --fs: 1em;
  --f-h1: 1.1em;
  --f-h2: 1.05em;
  --f-sm: 0.9em;
  --fw-400: 400;
  --fw-600: 600;
  --f-lh: 125%;
  --fs-16: 16px;
  --fs-14: 14px;
  --fs-12: 12px;
  --fs-15: 15px;
  
  /* Border Variables */
  --bw-1: 1px;
  --bw-2: 2px;
  --br-4: 4px;
  --br-8: 8px;
  --bs: solid;
  
  /* Additional Variables for Custom Markdown Styles */
  --link-color: var(--1); /* Custom color for links */
  --table-bg: var(--1);
  --table-border-color: var(--3);
  --table-th-bg: var(--2);
  --hr-color: var(--5);
  --emoji-size: 20px;
  --checked-color: #34d399; /* Green for checked items */
  --unchecked-color: #f87171; /* Red for unchecked items */
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: var(--0);
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: var(--6);

  border-radius: var(--br-8);
}
/* Viewport styles */
.viewport {
  color: var(--7);
  background-color: var(--2);
  flex-direction: column;
  font-family: var(--ff-sans);
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
  line-height: var(--f-lh);
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.p{}

.help {
display: flex;
position: relative;
max-height: 70vh;
overflow-y: scroll;
padding-right: 12px;
}

.help-index{
  min-width: 150px;
  position: sticky;
  top: 0px;
}

.help-body{
  padding: 60px 16px;
}


.markdown-content blockquote.intro-quote{
  font-style: normal ;
}
/* Global styles for markdown content */
.markdown-content pre {
  background-color: var(--2);
  border: var(--bw-1) solid var(--3);
  border-radius: var(--br-4);
  padding: 8px;
  overflow-x: auto;
  font-size: var(--f-sm);
  margin: 8px 0;
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.markdown-content code {
  font-family: var(--ff-serif);
  color: var(--7);
  border: var(--bw-2) solid var(--2);
  padding: 2px 6px;
  border-radius: 4px;
  margin-bottom: 0.5em;
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.markdown-content code:hover {
  background-color: #eee;
}

.markdown-content h1 {
  font-size: var(--f-h1);
  font-weight: var(--fw-600);
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-block-start: 24px;
  margin-block-end: 24px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.markdown-content h2 {
  font-size: var(--f-h2);
  font-weight: var(--fw-600);
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-block-start: 24px;
  margin-block-end: 24px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.markdown-content h3 {
  font-size: var(--fs);
  font-weight: var(--fw-600);
  padding: 0px;
  margin-top: 0px;
  margin-block-start: 24px;
  margin-block-end: 24px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.markdown-content h4 {
  font-size: var(--fs);
  font-weight: var(--fw-600);
  padding: 0px;
  margin-top: 0px;
  margin-block-start: 24px;
  margin-block-end: 24px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.markdown-content p {
  font-size: var(--fs);
  line-height: 22px;
  font-size: 15px;
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0px;
  gap: 0px;

}

.markdown-content strong {
  font-weight: var(--fw-600);
  padding: 0px;

}

.markdown-content em {
  font-style: var(--f-i);
  padding: 0px;
  margin-top: 0px;
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

.markdown-content ul {
  padding-left: 20px;
  list-style-type: disc;
  margin-block-start: 12px;
  margin-block-end: 12px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.markdown-content ol {
  padding-left: 20px;
  list-style-type: decimal;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.markdown-content li {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-block-start: 12px;
  margin-block-end: 12px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.markdown-content blockquote {
  background-color: #eee;
  padding: 8px 20px;
  color: var(--7);
  font-style: var(--f-i);
  border-radius: 0 var(--br-8) 0 var(--br-8);
  margin-block-start: 12px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.markdown-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  background-color: var(--table-bg);
  border-radius: 16px;
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 0.85em;
}

.markdown-content th,
.markdown-content td {
  padding: 0.5em;
  border: var(--bw-1) solid var(--table-border-color);
  text-align: left;
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.markdown-content th {
  background-color: var(--table-th-bg);
  font-weight: var(--fw-600);
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Horizontal Rule */
.markdown-content hr {
  height: var(--bw-1);
  background-color: var(--3);
  border: 0px;
  margin-block-start: 30px;
  margin-block-end: 30px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Emoji Styles */
.markdown-content .emoji {
  height: var(--emoji-size);
  width: var(--emoji-size);
  display: inline-block;
  vertical-align: middle;
}

/* Checklist Styles */
.markdown-content .checklist {
  list-style: none;
  padding: 0;
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.markdown-content .checklist li:before {
  content: "☐ ";
  color: var(--unchecked-color);
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.markdown-content .checklist li.checked:before {
  content: "☑ ";
  color: var(--checked-color);
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Link Styles */
.markdown-content a {
  color: var(--link-color);
  text-decoration: none;
  background-color: var(--6);
  padding: 4px 8px;
  display: inline-block;
  border-radius: var(--br-4);
  transition: all 0.2s ease-in-out;
  margin-block-start: 4px;
  margin-block-end: 4px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.markdown-content a:hover {
  background-color: var(--7);
}


@media screen and (max-width: 479px) {

  .help {
    display: block;
    position: relative;
    max-height: 30000px;
    overflow-y: hidden;
    padding-right: 0px;
    }
    
    .help-index{
      min-width: 150px;
      position: relative;
      top: 0px;
    }
    
    .help-body{
      padding: 20px 0px;
    }

}