/* components/ChatInput.module.css */

.chatFooter {
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  padding: 10px 5vw 20px;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  z-index: 10;
  border-top: var(--bw-2) var(--bs) var(--3); /* Updated to use primary variable */
}

.inputForm {
  border-radius: var(--br-4); /* Updated to use primary variable */
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
  max-width: 820px;
}

.inputField {
  min-height: var(--fs-12); /* Updated to use primary variable */
  font-family: var(--ff-sans);
  font-size: var(--fs-16); /* Updated to use primary variable */
  box-shadow: none;
  color: var(--7); /* Updated to use primary variable */
  background-color: var(--1); /* Updated to use primary variable */
  border: var(--bw-1) solid var(--3); /* Updated to use primary variable */
  border-radius: var(--br-4); /* Updated to use primary variable */
  padding: 8px 16px;
  margin-right: 8px;
  flex: 1;
  max-height: calc(6 * var(--fs-14)); /* Updated to use primary variable */
  overflow-y: auto;
  resize: none;
  outline: none;
  -webkit-appearance: none;
}

.inputField:active,
.inputField:focus,
.inputField:focus-visible {
  border-color: var(--5); /* Updated to use primary variable */
  box-shadow: none;
  outline: none;
}

.inputField::placeholder {
  color: var(--6); /* Updated to use primary variable */
}

.submit {
  display: none;
}

.moneyButton {
  display: inline-block;
  width: 180px;
  margin-left: 20px;
  flex: none;
}

.actionButton {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-size: 32px;
  border: 0px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  background-color: var(--6); /* Updated to use primary variable */
  display: block;
}

.actionButton:hover {
  background-color: var(--7); /* Updated to use primary variable */
}

.mbWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.resetButtonMobile,
.logoutButtonMobile {

}

.resetButtonMobile {
  background-image: url("https://uploads-ssl.webflow.com/646064abf2ae787ad9c35019/6542ca23c1e69724e8d21629_trash.svg");
}

.logoutButtonMobile {
  background-image: url("https://uploads-ssl.webflow.com/646064abf2ae787ad9c35019/6542ca23904979b18db8431f_logout.svg");
}

@media screen and (max-width: 479px) {
  .resetButtonMobile,
  .logoutButtonMobile {
    display: block;
  }

  .actionButton {
    width: 40px;
    height: 40px;
    border-radius: 22px;
    background-size: 32px;
  }

  .chatFooter {
    min-height: 120px;

    flex-wrap: wrap;
  }

  .moneyButton {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .inputForm {
    min-height: 100px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    min-width: 80vw;
    justify-content: center;
    align-items: center;
    flex: none;
  }

  .inputField {
    min-height: 46px;
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 0;
    max-width: 80vw;
    min-width: 80vw;
    flex: none;
  }
}
