/* components/ChatInput.module.css */

.chatFooter {
  min-height: var(--vh10); /* 10vh */
  justify-content: center;
  align-items: center;
  padding: var(--n10) 5vw var(--n20); /* 10px 5vw 20px */
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  z-index: var(--z10); /* 1000 */
  background-color: var(--bg-darkest); /* bg color for chat */
  border-top: var(--border); /* Standard border */
  backdrop-filter: var(--bg-blur); /* blur effect */
}

.inputForm {
  border-radius: var(--br-m); /* medium border radius */
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
  max-width: 690px; /* 680px */
}

.inputField {
  min-height: var(--n64); /* 64px */
  font-family: var(--ff-sans);
  font-size: var(--n14); /* 16px */
  box-shadow: none;
  color: var(--cw10); /* White 100% */
  background-color: var(--bg-darkest); /* Darker bg */
  border: var(--border-s); /* Small border */
  border-radius: var(--n0); /* Medium border radius */
  padding: var(--n8) var(--n16); /* 8px 16px */
  margin-right: var(--n8); /* 8px */
  flex: 1;
  max-height: calc(8 * var(--n14)); /* 6 times 14px */
  overflow-y: auto;
  resize: none;
  outline: none;
  -webkit-appearance: none;
}

.inputField:active,
.inputField:focus,
.inputField:focus-visible {
  border-color: var(--bg-lightest); /* Darker bg */
  background-color: var(--bg-darkest); /* Darkest bg */
}

.inputField::placeholder {
  color: var(--cw7); /* White 70% */
}

.actionButton {
  width: var(--n40); /* 40px */
  height: var(--n40); /* 40px */
  border-radius: var(--n20); /* 20px */
  background-size: var(--n32); /* 32px */
  border: var(--bw-0); /* 0px */
  background-color: var(--bg-button); /* Button bg */
  transition: background-color var(--dur-025); /* 0.25s */
  display: block;
}

.actionButton:hover {
  background-color: var(--bg-b-hover); /* Button hover bg */
}

.sendButton {
  display: flex;
  align-items: center;
  gap: 10px;
}

.resetButtonMobile,
.logoutButtonMobile {
  display: none;
}

@media screen and (max-width: 479px) {
  .resetButtonMobile,
  .logoutButtonMobile {
    display: block;
  }

  .actionButton {
    border-radius: var(--n22); /* 22px */
  }

  .chatFooter {
    min-height: var(--n120); /* 120px */
    padding: var(--n10) 24px var(--n20); /* 10px 5vw 20px */

  }

  .inputForm {
    max-width: 100%; /* 80vw */
    min-width: var(--p8); /* 80vw */
    display: flex;
    flex-direction: column;
  }

  .inputField {
    max-width: 100%; /* 80vw */
    min-width: var(--p8); /* 80vw */
    margin-bottom: var(--n10); /* 10px */
    margin-right: 0px;
    font-size: 16px;
  }

  .moneyButton {
    margin-top: var(--n10); /* 10px */
    margin-bottom: var(--n30); /* 30px */
  }
  .sendButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

}
